.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  box-shadow: 5px 10px darkturquoise;
  border-radius: 20px;
  max-width: fit-content;
  margin:auto;
  margin-top: 50px;
  background-color: rgba(245, 222, 179, 1);
  
  
}

.ingredient-card {
  margin: 15px;
  box-shadow: 0px 0px 12px -5px turquoise;
  border-style:solid;
  border-color:rgb(255, 253, 138);
  border-width: 3px;
}
.border {
  margin:10px;
  margin-bottom:20px;
}

.ingredient-card:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px turquoise;
}
.recipe-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px turquoise;
}
.recipe-card {
  margin: 15px;
 
  box-shadow: 0px 0px 12px -5px turquoise;
  border-style:solid;
  border-color:rgb(255, 253, 138);
  border-width: 3px;
 
  
}

.recipe-page-container {
  
  box-shadow: 5px 10px darkturquoise;
  border-radius: 20px;
  max-width: fit-content;
  margin:auto;
  margin-top: 50px;
  background-color: rgba(245, 222, 179, 1);
}

.recipe-page-container-upper {
  margin:20px;
  padding:10px;
  display: flex;
  flex-flow: row wrap;
}

.container-upper-info {
  margin-left:20px;
  text-align: left;
}



.recipe-directions {
  margin:20px;
  text-align:left;
}