.navbar {
    min-height: 80px;
    
}

a {
    font-size: x-large;
    margin-left: 10px;
    margin-right: -8px;
}

.navbar-brand {
    width: 170px;
    left: 15px;
    background-size: contain;

}